@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/dm-sans-regular.woff");
}

html,
#__next {
  height: 100vh;
  font-family: "DM Sans", sans;
  font-weight: 500;
}

html {
  background: #0047ab;
  color: white;
}

/*#__next {
  background: url(/images/bg.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}*/

.underline-thick::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.group:hover .underline-thick::after {
  width: 100%;
}
